.cursando-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.certificados li,
.cursando li {
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.certificados li a,
.cursando li a {
  color: rgb(36, 36, 38);
  text-decoration: none;
}

.certificados li a:hover,
.cursando li a:hover {
  text-decoration: underline;
}